@model IEnumerable<Point_Of_Sales.Entities.Product>

@{
    ViewData["Title"] = "Products";
    var IsAdmin = User.IsInRole("Admin");
}

<div class="container">
    <h5 style="color: #50808e">List of Products</h5>

    @if (IsAdmin)
    {
        <p>
            <a asp-action="Create" class="btn text-white" style="background-color: #55828b">Create New</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>
                    @Html.DisplayNameFor(model => model.Barcode)
                </th>
                <th>
                    Product Name
                </th>
                @if (IsAdmin)
                {
                    <th>
                        Import Price
                    </th>
                }
                <th>
                    Retail Price
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="data-@item.Id" class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.Barcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product_Name)
                    </td>
                    @if (IsAdmin)
                    {
                        <td>
                            $@Html.DisplayFor(modelItem => item.Import_Price)
                        </td>
                    }
                    <td>
                        $@Html.DisplayFor(modelItem => item.Retail_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn text-white mr-2" style="background-color: #55828b">Details</a>

                        @if (IsAdmin)
                        {
                            <button onclick="handleDelete(this)" data-id="@item.Id" class="btn text-white mr-2" style="background-color:#ad2831; ">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    <script>
        async function handleDelete(button) {
            const { id } = button.dataset;

            if (confirm("Do you want to delete this product?")) {
                const result = await fetch("/Products/Delete/" + id, { method: "POST" })
                if (result.ok) {    
                    alert("Delete successfully!");
                    document.querySelector(`#data-${id}`).remove();
                }
            } else {
                return;
            }

        }
    </script>
}