@model IEnumerable<Point_Of_Sales.Entities.RetailStore>

@{
    ViewData["Title"] = "Retail Stores";
}

<div class="container mt-2">
    <h5 style="color: #50808e">List of Retail Stores</h5>
    <p>
        <a asp-action="Create" class="btn text-white" style="background-color: #55828b">Create New</a>
    </p>
    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RetailStoreID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="data-@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailStoreID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <a href="/RetailStores/Report?q=@item.Id" class="btn text-white mr-2" style="background-color: #55828b">Report</a>
                        <button onclick="handleDelete(this)" data-id="@item.Id" class="btn text-white mr-2" style="background-color:#ad2831; ">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        async function handleDelete(button) {
            const { id } = button.dataset;

            if (confirm("Do you want to delete this retail stores?")) {
                const result = await fetch("/RetailStores/Delete/" + id, { method: "POST" })
                if (result.ok) {
                    alert("Delete successfully!");
                    document.querySelector(`#data-${id}`).remove();
                }
            } else {
                return;
            }

        }
    </script>
}
